@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

#likegram {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  background: rgb(224, 59, 232);
  background: linear-gradient(45deg, rgba(224, 59, 232, 1) 20%, rgba(0, 142, 255, 1) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
