#title {
  display: flex;
  justify-content: start;
  align-items: center;

}

#title span:nth-child(2) {
  margin-left: auto;
  margin-top: 3%;
}

#title span:nth-child(2) {
  font-size: xx-large;
}

#profile {
  padding: 15px;
}

#top-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#top-navigation span {
  margin-left: 2px;
  margin-right: 2px;
}

#top-navigation span:nth-child(2) {
  font-size: large;
}

#top-navigation img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

#bottom-navigation {
  display: flex;
  justify-content: center;
}

#bottom-navigation div {
  display: inline-block;
  margin: 0 2px 0 2px;
}
#bottom-navigation div span{
  display: block;
  align-items: center;
}

#description{
  padding-left: 23px;
  font-size: 15px;
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

#likegram {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  background: rgb(224, 59, 232);
  background: linear-gradient(45deg, rgba(224, 59, 232, 1) 20%, rgba(0, 142, 255, 1) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

