<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar style="border-top: 1px solid rgba(128, 128, 128,0.3);" slot="bottom">
      <ion-tab-button tab="posts">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="search-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="camera">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="notifications">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
