<ion-header>
  <ion-toolbar>
    <ion-title>
      <div id="ion-title">
        <span *ngIf="user">{{user.username}}</span>
        <span>
          <ion-icon name="compass-outline"></ion-icon>
        </span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let post of posts" class="card mx-auto m-5 pt-2 pb-2 pe-1 ps-1" style="width: 18rem;">
    <h2 class="post_title">
      <span>
        <img class="post_kullanici_photo" [src]="baseUrl+post.user.profilePhoto" alt="">
      </span>
      <span class="post_kullanici_adi">{{post.user.username}}</span>
      <span>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </span>
    </h2>
    <img [src]="baseUrl+post.imageUrl" class="card-img-top" alt="a">
    <div class="card-body">
      <p class="card-text">{{post.description}}</p>
      <div class="post_navigation">
        <a id="postlike1" (click)="postLike('1')">
          <ion-icon style="transition: font-size .5s;" id="postlike1_1" *ngIf="!isClickHeart" name="heart-outline">
          </ion-icon>
          <ion-icon style="transition: font-size .5s;" id="postlike1_2" *ngIf="isClickHeart" class="text-danger"
            name="heart"></ion-icon>
        </a>
        <a (click)="postComment()">
          <ion-icon name="chatbubble-outline"></ion-icon>
        </a>
        <a (click)="postSend()">
          <ion-icon name="paper-plane-outline"></ion-icon>
        </a>
        <a (click)="postSave('1')">
          <ion-icon id="postsave1_1" style="transition: font-size .5s;" *ngIf="!isClickBookmark"
            name="bookmark-outline">
          </ion-icon>
          <ion-icon id="postsave1_2" style="transition: font-size .5s;" class="text-black" *ngIf="isClickBookmark"
            name="bookmark"></ion-icon>
        </a>
      </div>
      <div>
        <span class="fw-lighter">
          <div *ngIf="post.postLikes.length>0">{{post.postLikes.length}} beğeni</div>
          <div *ngIf="post.postLikes.length<1">henüz beğeni yok</div>
          <div *ngIf="post.postComments.length>0">{{post.postComments.length}} yorum</div>
          <div *ngIf="post.postComments.length<1">henüz yorum yok</div>
        </span>
      </div>
    </div>
  </div>
</ion-content>
