<ion-header>
  <ion-toolbar>
    <ion-title>
      <div id="ion-title">
        <span>Kullanıc Adı</span>
        <span>
          <ion-icon name="compass-outline"></ion-icon>
        </span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card mx-auto m-5 pt-2 pb-2 pe-1 ps-1" style="width: 18rem;">
    <h2 class="post_title">
      <span>
        <img class="post_kullanici_photo" src="../../../../assets/download.jpg" alt="">
      </span>
      <span class="post_kullanici_adi">Kullanıcı Adı</span>
      <span>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </span>
    </h2>
    <img src="../../../../assets/download.jpg" class="card-img-top" alt="a">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet.</p>
      <div class="post_navigation">
        <a (click)="postLike()">
          <ion-icon *ngIf="!isClickHeart" name="heart-outline"></ion-icon>
          <ion-icon class="text-danger" *ngIf="isClickHeart" name="heart"></ion-icon>
        </a>
        <a (click)="postComment()">
          <ion-icon name="chatbubble-outline"></ion-icon>
        </a>
        <a (click)="postSend()">
          <ion-icon name="paper-plane-outline"></ion-icon>
        </a>
        <a (click)="postSave()">
          <ion-icon *ngIf="!isClickBookmark" name="bookmark-outline"></ion-icon>
          <ion-icon class="text-black" *ngIf="isClickBookmark" name="bookmark"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</ion-content>
