<div class="stories">
  <div id="your-story" (click)="shareStory()" class="story-body" style="margin-right: 8px;">
    <div id="your-profile-photo" class="story-profile-photo">
      <img width="60px" height="60px" style="border-radius: 50%;" src="{{baseUrl}}images/download.jpg" />
      <div id="your-story-icon">
        <ion-icon name="add-outline"></ion-icon>
      </div>
    </div>
    <div class="story-profile-name">
      Hikayen
    </div>
  </div>
  <div id="story-card{{story.id}}" (click)="openStory(story)" *ngFor="let story of items" class="story-card">
    <div class="story-body">
      <div id="your-profile-photo{{story.id}}" class="story-profile-photo gradient-border">
        <img width="60px" height="60px" style="border-radius: 50%;" src="{{baseUrl}}images/download.jpg" />
      </div>
      <div class="story-profile-name">
        <span *ngIf="'Emirrrrrrrrrrr'.length>13">Emirrrrrrrrrr...</span>
        <span *ngIf="'Emirrrrrrrrrrr'.length<=13">Emirrrrrrrrrr</span>
      </div>
    </div>
  </div>
</div>
