<ion-header>
  <ion-toolbar class="text-center">
    <ion-title slot=""><span id="likegram">Likegram</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <h2 class="display-4">Giriş Yap</h2>
      <div class="col-md-10 mx-auto col-lg-5">
        <form [formGroup]="loginForm" class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input formControlName="email" type="email" class="form-control" id="email"
              placeholder="name@example.com">
            <label for="email">Eposta Adresi</label>
            <div class="text-danger"
              *ngIf="(email.touched || email.dirty) && email.errors">
              <div *ngIf="email.errors.email">Geçersiz eposta</div>
              <div *ngIf="email.errors.required">Eposta boş olamaz</div>
              <div *ngIf="email.errors.maxlength">Eposta maksimum {{email.errors.maxlength.requiredLength}} karakter olabilir</div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="password" type="password" class="form-control" id="password"
              placeholder="Password">
            <label for="password">Şifre</label>
            <div class="text-danger"
              *ngIf="(password.touched || password.dirty) && password.errors">
              <div *ngIf="password.errors.minlength">Şifre en az {{password.errors.minlength.requiredLength}} karakter olabilir</div>
              <div *ngIf="password.errors.required">Şifre boş olamaz</div>
            </div>
          </div>
          <button (click)="login()" [disabled]="!loginForm.valid || !isLoad" class="w-100 btn btn-lg btn-primary mb-3"
            type="submit">
            <span *ngIf="!isLoad" class="spinner-border spinner-border-sm" role="status"
              aria-hidden="true"></span>&nbsp;
            <span *ngIf="!isLoad" class="">Giriş Yapılıyor...</span>
            <span *ngIf="isLoad">Giriş Yap</span>
          </button>
          <a style="text-decoration: none;" routerLink="/register">Hesabın yok mu ? Hemen kayıt ol</a>
          <hr class="my-4">
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>
</ion-content>
