<ion-header>
  <ion-toolbar class="text-center">
    <ion-title slot=""><span id="likegram">Likegram</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-5">
        <form [formGroup]="loginForm" class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input formControlName="email" type="email" class="form-control" id="floatingInput"
              placeholder="name@example.com">
            <label for="floatingInput">Eposta Adresi</label>
            <div class="text-danger" *ngIf="(loginForm.get('email').touched || loginForm.get('email').dirty) && loginForm.get('email').errors">
              <div *ngIf="loginForm.get('email').errors.email">Geçersiz eposta</div>
              <div *ngIf="loginForm.get('email').errors.required">Eposta boş olamaz</div>
              <div *ngIf="loginForm.get('email').errors.maxlength">Eposta maksimum 50 karakter olabilir</div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="password" type="password" class="form-control" id="floatingPassword"
              placeholder="Password">
            <label for="floatingPassword">Şifre</label>
            <div class="text-danger" *ngIf="(loginForm.get('password').touched || loginForm.get('password').dirty) && loginForm.get('password').errors">
              <div *ngIf="loginForm.get('password').errors.minlength">Şifre en az 6 karakter olabilir</div>
              <div *ngIf="loginForm.get('password').errors.required">Şifre boş olamaz</div>
            </div>
          </div>
          <button (click)="login()" [disabled]="!loginForm.valid || !isLoad" class="w-100 btn btn-lg btn-primary mb-3" type="submit">
            <span *ngIf="!isLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
            <span *ngIf="!isLoad" class="">Giriş Yapılıyor...</span>
            <span *ngIf="isLoad">Giriş Yap</span>
          </button>
          <a style="text-decoration: none;" href="">Hesabın yok mu ? Hemen kayıt ol</a>
          <hr class="my-4">
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>
</ion-content>
