<div class="card mx-auto m-1 pt-2 pb-2 pe-1 ps-1" *ngIf="post && user">
  <h2 class="post_title">
    <span>
      <img class="post_kullanici_photo" [src]="baseUrl+post.user.profilePhoto" alt="">
    </span>
    <span class="post_kullanici_adi">{{post.user.username}}</span>
    <span>
      <ion-icon (click)="openPostSetting(post)" style="cursor: pointer;" name="ellipsis-vertical-outline"></ion-icon>
      <div id="postsetting{{post.id}}" class="list-group post_settings">
        <a class="list-group-item list-group-item-action text-danger">
          Şikayet Et
        </a>
        <a *ngIf="post.user.id === user.id" class="list-group-item list-group-item-action text-danger">
          <ion-icon name="trash-outline"></ion-icon>&nbsp;Sil
        </a>
      </div>
    </span>
  </h2>
  <img [src]="baseUrl+post.imageUrl" class="card-img-top" alt="a">
  <div class="card-body">
    <p class="card-text">{{post.description}}</p>
    <div class="post_navigation">
      <a (click)="postLike(post)">
        <ion-icon style="transition: font-size .5s;" id="postlike{{post.id}}_1" *ngIf="!post.isClickHeart"
          name="heart-outline">
        </ion-icon>
        <ion-icon style="transition: font-size .5s;" id="postlike{{post.id}}_2" *ngIf="post.isClickHeart"
          class="text-danger" name="heart"></ion-icon>
      </a>
      <a (click)="postComment(post)">
        <ion-icon *ngIf="!post.isClickComment" name="chatbubble-outline"></ion-icon>
        <ion-icon class="text-primary" *ngIf="post.isClickComment" name="chatbubble"></ion-icon>
      </a>
      <a (click)="postSend()">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </a>
      <a (click)="postSave(post)">
        <ion-icon id="postsave{{post.id}}_1" style="transition: font-size .5s;" *ngIf="!post.isClickBookmark"
          name="bookmark-outline">
        </ion-icon>
        <ion-icon id="postsave{{post.id}}_2" style="transition: font-size .5s;" class="text-black"
          *ngIf="post.isClickBookmark" name="bookmark"></ion-icon>
      </a>
    </div>
    <div>
      <span class="fw-lighter">
        <div *ngIf="post.postLikes.length>0">{{post.postLikes.length}} beğeni</div>
        <div *ngIf="post.postLikes.length<1">henüz beğeni yok</div>
        <div *ngIf="post.postComments.length>0">{{post.postComments.length}} yorum</div>
        <div *ngIf="post.postComments.length<1">henüz yorum yok</div>
      </span>
    </div>
    <div style="float:right;font-size: small;" class="fw-lighter">
      {{getDate(post.createdDate)}}
    </div>
  </div>
</div>
