<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Yorumlar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 93%;width: 100%;overflow-y: scroll;overflow-x: hidden;">
    <comment-card id="comment{{comment.id}}" *ngFor="let comment of postComments" [comment]="comment"></comment-card>
  </div>
  <div id="bottom-bar">
    <div *ngIf="selectedComment" id="comment-answer-bar">
      <span *ngIf="selectedComment">
        {{selectedComment.user.username}} kullanıcısına yanıt veriliyor
      </span>
      <span (click)="removeSelectedComment()">
        <ion-icon name="close-outline"></ion-icon>
      </span>
    </div>
    <div>
      <div *ngIf="user">
        <img style="border-radius: 50%;width:35px;height: 35px;" [src]="baseUrl+user.profilePhoto"
          [alt]="user.username">
      </div>
      <div>
        <ion-input placeholder="Yorum ekle..." id="doComment"></ion-input>
      </div>
      <div>
        <ion-button (click)="sendCommentOrAnswer()" fill="clear" shape="round">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>
