<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Yorumlar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 93%;width: 100%;overflow-y: scroll;overflow-x: hidden;">
    <!-- <comment-card *ngFor="let comment of postComments" [comment]="comment" class="comment-card mb-3 p-2"></comment-card> -->
    <div id="comment{{comment.id}}" *ngFor="let comment of postComments" class="comment-card mb-3 p-2">
      <!-- Comment Body Start -->
      <div>
        <div class="col-md-12 mb-4" style="display: flex;justify-content: start;align-items: center;">
          <img [src]="baseUrl+comment.user.profilePhoto" class="post_kullanici_photo" alt="...">
        </div>
        <div>
          <div>
            <span class="comment-card-username">{{comment.user.username}}</span>&nbsp;{{comment.comment}}
          </div>
          <div>
            <div></div>
            <div>{{getDate(comment.createdDate)}}</div>
            <div>
              <ion-label color="danger">
                <span *ngIf="comment.commentLikes" color="danger">{{comment.commentLikes.length}}</span>
                <span *ngIf="!comment.commentLikes" color="danger">0</span>
                beğenme
              </ion-label>
            </div>
            <div (click)="selectComment(comment)">
              yanıtla
            </div>
          </div>
        </div>
        <!-- Like Button Start -->
        <div>
          <a style="font-size: 20px;" (click)="commentLike(comment)">
            <ion-icon style="transition: font-size .5s;" id="commentlike{{comment.id}}_1" *ngIf="!comment.isClickHeart"
              name="heart-outline">
            </ion-icon>
            <ion-icon style="transition: font-size .5s;" id="commentlike{{comment.id}}_2" *ngIf="comment.isClickHeart"
              class="text-danger" name="heart"></ion-icon>
          </a>
        </div>
        <!-- Like Button End -->
      </div>
      <!-- Comment Body End -->
      <!-- Show answer buttons Start -->
      <div>
        <div></div>
        <div>
          <span (click)="getAnswers(comment)"
            *ngIf="!(comment.isClickShowAnswer) && comment.commentAnswersCount != 0">{{comment.commentAnswersCount}}
            yanıtı
            gör&nbsp;<ion-icon name="chevron-down-outline"></ion-icon>
          </span>
          <span *ngIf="comment.commentAnswersCount == 0">henüz yanıt yok</span>
          <span (click)="getAnswers(comment)" *ngIf="comment.isClickShowAnswer">yanıtları gizle&nbsp;<ion-icon
              name="chevron-up-outline"></ion-icon>
          </span>
        </div>
      </div>
      <!-- Show answer buttons End -->
      <!-- Answers Start -->
      <div>
        <div *ngFor="let answer of comment.commentAnswers" class="comment-card">
          <div>
            <div class="col-md-12 mb-4" style="display: flex;justify-content: start;align-items: center;">
              <img [src]="baseUrl+answer.user.profilePhoto" class="post_kullanici_photo" alt="...">
            </div>
            <div>
              <div style="padding-left: 5px;">
                <span class="comment-card-username">{{answer.user.username}}</span>&nbsp;{{answer.answer}}
              </div>
              <div>
                <div></div>
                <div>{{getDate(answer.createdDate)}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Answers End -->
    </div>
  </div>
  <div id="bottom-bar">
    <div *ngIf="selectedComment" id="comment-answer-bar">
      <span *ngIf="selectedComment">
        {{selectedComment.user.username}} kullanıcısına yanıt veriliyor
      </span>
      <span (click)="removeSelectedComment()">
        <ion-icon name="close-outline"></ion-icon>
      </span>
    </div>
    <div>
      <div *ngIf="user">
        <img style="border-radius: 50%;width:35px;height: 35px;" [src]="baseUrl+user.profilePhoto"
          [alt]="user.username">
      </div>
      <div>
        <ion-input placeholder="Yorum ekle..." id="doComment"></ion-input>
      </div>
      <div>
        <ion-button (click)="sendCommentOrAnswer()" fill="clear" shape="round">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>
