.post_kullanici_photo {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.comment-card {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  height: auto;
}

.comment-card>div:first-child {
  display: flex;
  justify-content: start;
}

.comment-card>div:first-child>div:first-child {
  height: 100%;
  width: 15%;
}

.comment-card>div:first-child>div:nth-child(2) {
  height: 100%;
  width: 75%;
}

.comment-card>div:first-child>div:nth-child(3) {
  height: 100%;
  width: 10%;
}

.comment-card>div:nth-child(2) {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: start;
}

.comment-card>div:nth-child(2)>div:first-child {
  height: 100%;
  width: 5%;
}

.comment-card>div:nth-child(2)>div:nth-child(2) {}

.comment-card>div:nth-child(2)>div:nth-child(3) {
  margin-left: auto;
  padding-right: 9px;
}

.comment-card-username {
  font-weight: 700;
}
