.post_kullanici_photo {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.comment-card{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  height: auto;
}
.comment-card > div:first-child{
  height: 100%;
  width: 15%;
  background: red;
}
