<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Yorumlar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 93%;width: 100%;overflow-y: scroll;overflow-x: hidden;">
    <div *ngFor="let comment of postComments" class="comment-card mb-3 p-2">
      <div class="col-md-12 mb-4" style="display: flex;justify-content: start;align-items: center;">
        <img [src]="baseUrl+comment.user.profilePhoto" class="post_kullanici_photo" alt="...">
      </div>
      <div>
        <span class="comment-card-username">{{comment.user.username}}</span>&nbsp;{{comment.comment}}
      </div>
      <div>
        <a style="font-size: 20px;" (click)="commentLike(comment)">
          <ion-icon style="transition: font-size .5s;" id="commentlike{{comment.id}}_1" *ngIf="!comment.isClickHeart"
            name="heart-outline">
          </ion-icon>
          <ion-icon style="transition: font-size .5s;" id="commentlike{{comment.id}}_2" *ngIf="comment.isClickHeart"
            class="text-danger" name="heart"></ion-icon>
        </a>
      </div>
      <!-- <div class="mt-2" style="border-bottom: 1px solid grey;"></div> -->
      <!-- <div>
          <div class="row">
            <ion-input (keyup.enter)="doAnswer(comment)" id="doAnswer{{comment.id}}" style="max-width: 80%;" placeholder="Cevap Ver"></ion-input>
            <ion-button (click)="doAnswer(comment)" style="max-width: 20%;text-align: start;" fill="clear">
              <ion-icon name="send-outline"></ion-icon>
            </ion-button>
          </div>
        </div> -->
      <!-- <div *ngFor="let answer of comment.commentAnswers" class="card mb-3 p-1 ms-auto" style="max-width: 270px">
          <div class="row">
            <div class="col-md-12 mb-4" style="display: flex;justify-content: start;align-items: center;">
              <img [src]="baseUrl+answer.user.profilePhoto" class="post_kullanici_photo" alt="...">&nbsp;<h5 class="">
                {{answer.user.username}}</h5>
            </div>
            <div class="col-md-12">
              <p class="card-text">{{answer.answer}}</p>
              <p style="float:right" class="card-text"><small class="text-muted">{{getDate(answer.createdDate)}}</small>
              </p>
            </div>
          </div>
        </div> -->
    </div>
  </div>
  <div
    style="height: 6.8%;width: 100%;background-color: #E5E7E9;display: flex;justify-content: start;align-items: center;">
    <ion-input id="doComment" style="width: 80%;"></ion-input>
    <ion-button style="width: 20%;" (click)="sendComment()" fill="clear" shape="round">
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>
